*.o
*.makedep
*.dll
*.a
*.lib
.buildConfig.*
.buildStarted
buildConfig.make
*.dylib
*.exe
src/include/buildConfig.h
build/bin/buildConfig.sh
extensions
cgiProgram.cgi
nph-cgiProgram
cgi\ Program
src/server/cgi-bin/cgiProgram
samples/c/simpleClient/simpleClient
samples/c/simpleEgi/simpleEgi
samples/c/simpleEjs/simpleEjs
samples/c/simpleServer/simpleServer
src/handlers/accessHandler.sav
src/handlers/proxyHandler.c
bin/appweb
bin/ejs*
bin/http
bin/makerom
bin/testAppweb
builud/bin/dsi
build/bin/edep
build/bin/getpath
*.mod
src/test/cgi-bin/cgiProgram
src/test/cgi-bin/testScript
build/bin/dsi
bin/cgiProgram
test/web/tmp
test/trace.txt
test/api/.appweb.pid
*.lst
test/cgi-bin/cgiProgram
test/cgi-bin/testScript
doc/api/appweb/html
doc/api/appweb/xml
samples/c/simpleEgi/test
test/web/bugs
test/web/pipeline
src/http/handlers/accessHandler.sav
src/ejs/.ejs.slots.h
samples/c/typicalMVC
samples/c/simpleEgi/test2
bin/ajs*
bin/angel
bin/httpPassword
lib/appweb.conf
lib/default-web
lib/mime.types
*.tmp
releases/*.gz
releases/*.rpm
releases/*.zip
releases/*.txt
*.so
staging
.rpmmacros
all/*.c
src/server/appweb.conf
lib/*.so
*.pdb
*.obj
*.exp
bin/*.def
bin/appweb.conf
bin/*.ico
*.res
bin/default-web
bin/mime.types
.port.log
src/server/conf/
*.dmg
*.user
*.ncb
*.suo
projects/WIN/*/Win32
*.deb
test/cgi-bin/cgi Program
*.mode1v3
*.pbxuser
*.perspectivev3
lib/lib*
releases/tmp
test/.appweb.pid
test/t.es
